.about {
    margin-top: 200px;

    &__container {
        width: 1280px;
        height: 577px;
        background-color: #2C343E;
        border-radius: 10px;

        &__title {
            text-align: center;
            color: #fff;
            padding-top: 100px;
            padding-bottom: 32px;
            font-weight: 900;
            font-size: 40px;
        }

        &__text {
            text-align: center;
            color: #fff;
            font-family: 'barlow';
        }

        &__cards {
            display: flex;
            justify-content: space-around;
            margin-top: 86px;

            &__card {
                width: 350px;
                height: 382px;
                border-radius: 8px;
                background-color: #0E8784;
                align-items: center;
                justify-content: center;
                text-align: center;
                display: flex;
                flex-direction: column;

                &__title {
                    margin-top: 56px;
                    margin-bottom: 24px;
                    color: #fff;
                }

                &__text {
                    color: #fff;
                    font-family: "barlow";
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {

    .about {
        margin-top: 144px;

        &__container {
            max-width: 689px;

            &__title {
                padding-top: 56px;
                font-size: 32px;

            }

            &__cards {
                flex-direction: column;
                gap: 24px;
                align-items: center;

                &__card {
                    width: 573px;
                    height: 180px;
                    display: flex;
                    flex-direction: row;
                    gap: 55px;
                    justify-content: center;
                    align-items: center;
                    text-align: left;

                    &__title {
                        margin-top: 0;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 480px) {

    .about {
        margin-top: 120px;

        &__container {
            max-width: 327px;
            height: 902px;

            &__title {
                text-align: center;
                padding-top: 64px;
                font-size: 28px;
            }

            &__text {
                max-width: 279px;
                width: 100%;
                text-align: center;
            }

            &__cards {

                &__card {
                    width: 279px;
                    height: 382px;
                    flex-direction: column;
                    text-align: center;
                }
            }
        }
    }
}