.header {
    margin-top: 44px;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__list {
            list-style: none;
            display: flex;
            gap: 33px;
        }

        &__links {
            text-decoration: none;
            color: #83888F;
            font-family: 'Barlow', sans-serif;
        }
    }
}

@media only screen and (max-width: 768px){

    .header{
        margin-top: 40px;

        &__container{
            max-width: 689px;
            height: 26px;
            justify-content: space-between;
            align-items: center;
        }
    }
}