.hero {
    margin-top: 44px;

    &__container {
        background-image: url(../images/Bitmap.png);
        height: 600px;

        &__title {
            color: #fff;
            font-weight: 900;
            font-size: 72px;
            padding-top: 117px;
            padding-left: 85px;
        }

        &__text {
            color: #FEFCF7;
            padding-top: 32px;
            padding-bottom: 56px;
            padding-left: 85px;
            font-family: 'barlow';
        }

        &__link {
            text-decoration: none;
            color: #fff;
            padding: 15px 30px;
            background-color: #0E8784;
            border-radius: 6px;
            display: inline-block;
            margin-left: 85px;

            &:hover {
                transform: scale(1.1);
                transition: 0.3s ease;
            }

            &:active {
                transform: scale(0.9);
                transition: 0.3s ease;
            }

        }
    }

}